* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header{
    background-color: rgb(255, 106, 0);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mini-container{
    display: flex;
    justify-content: center;
    width: 30%;
}

.categories{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category{
    color: white;
    text-decoration: none;
}

.category:hover{
    text-decoration: underline;
}

.logo-img{
    color: white;
    height: 30px;
}

.shopping-tools{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-icon{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px;
}

.product{
    position: relative;
    margin: 10px;
    margin-bottom: 30px;

}

.photo{
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.photo:hover{
    opacity: 0;
}

.hover-photo{
    width: 300px;
}

.labels{
    position: absolute;
    left: 0;
    bottom: 120px;
}

.like{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
}

.like:hover{
    color: red;
}

.sale-value{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 60px;
    text-align: center;
    padding: 5px;
}

.sustainability{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.name{
    font-size: 1.2rem;
}

.brand-name{
    color: grey;
}

.price{
    font-weight: lighter;
    text-decoration: line-through;
}

.saled-price{
    color: red;
}